<h1>Detalhes do Filme</h1>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @movie.release_date %>
</p>

<%= link_to 'Edit this movie', edit_movie_path(@movie) %> |
<%= link_to 'Back to movies', movies_path %> |
<%= link_to 'Destroy this movie', @movie, method: :delete, data: { confirm: 'Are you sure?' } %>
